*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}

header{
    background-color: rgba(255, 144, 14, 0.1);
    padding: 4vh 0;
}

header .hdr{
    max-width: 1440px;
    padding: 0 2vw;
    margin: auto;
}
header .hdr .title{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
@media only screen and (max-width: 768px) {
    header .hdr .title{
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
    header .hdr .title nav{
        justify-content: space-around !important;
        width: 100% !important;
        margin: auto;
        margin-bottom: 30px;
        
    }
}
header .hdr .title h1{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
header .hdr .title nav{
    width: 480px;
    display: flex;
    justify-content: space-between;
}
header .hdr .title nav a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: #424242;
}
header .hdr .hdbdy{
    max-width: 868px;
    margin: auto;
    margin-top: 8vh;
    text-align: center;
}
header .hdr .hdbdy h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
}
header .hdr .hdbdy p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 25px;
}
header .hdr .hdbdy a{
    text-decoration: none;
<<<<<<< HEAD
=======
    color: #fff;
}
footer .future .icon{
    margin-top: 18px;
}
footer .future .icon img{
    width: 47px;
    height: 46px;
    border-radius: 50%;
    margin-right: 20px;
}

footer .subscribe{
>>>>>>> 45383f5966c8f7f7374c25157d11b0c75acf0d33
    display: inline-block;
    
    padding: 18px 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    margin: 30px 0;
}
header .hdr img{
    width: 100%;
}


.features{
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    
    
}
.features .imgs{
    display: flex;
    width: 55%;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    

}
.features .imgs img{
    width: 342px;
    height: 342px;
}
.features .txt{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.features .txt h1{
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}
.features .txt h1 span:first-child{
    color: #131313;    
}
.features .txt h1 span:last-child{
    color: #FF900E;
}
.features .txt p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin: 20px 0;
}
.features .txt a{
    text-decoration: none;    
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
}